@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
  font-family: 'Roboto', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}


body{
  background:#010103;
}

section{
  padding:2rem 7%;
}

.heading{
  text-align: center;
  color:#fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding:.9rem 3rem;
  font-size: 1.7rem;
  color:#fff;
  background: #d3ad7f;
  cursor: pointer;
}

.btn:hover{
  letter-spacing: .2rem;
}

/* HEADER */

.header{
  background: #010103;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1.5rem 7%;
  border-bottom: .1rem solid rgba(255,255,255,.3);
  position: fixed;
  top:0; left: 0; right: 0;
  z-index: 1000;
}

.header .logo img{
  height: 6rem;
}

.header .navbar a{
  margin:0 1rem;
  font-size: 1.6rem;
  color:#fff;
}

.header .navbar a:hover{
  color:#d3ad7f;
  border-bottom: .1rem solid #d3ad7f;
  padding-bottom: .5rem;
}

.header .icons div{
  color:#fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover{
  color:#d3ad7f;
}

#menu-btn{
  display: none;
}

/* HOME */

.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../img/home-img.jpeg) no-repeat ;
  background-size: cover;
  background-position: center;
}

.home .content{
  max-width: 60rem;
}

.home .content h3{
  font-size: 6rem;
  text-transform: uppercase;
  color:#fff;
}

.home .content p{
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding:1rem 0;
  color:#eee;
}

/* ABOUT */

.about .row{
  display: flex;
  align-items: center;
  background:#13131a;
  flex-wrap: wrap;
}

.about .row .image{
  flex:1 1 45rem;
}

.about .row .image img{
  width: 100%;
}
.about .row .content{
  flex:1 1 45rem;
  padding:2rem;
}

.about .row .content h3{
  font-size: 3rem;
  color:#fff;
}

.about .row .content p{
  font-size: 1.6rem;
  color:#ccc;
  padding:1rem 0;
  line-height: 1.8;
}

/* MENU */

.menu .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
}

.menu .box-container .box{
  padding:5rem;
  text-align: center;
  border:.1rem solid rgba(255,255,255,.3);
}

.menu .box-container .box img{
  height: 10rem;
}

.menu .box-container .box h3{
  color: #fff;
  font-size: 2rem;
  padding:1rem 0;
}

.menu .box-container .box .price{
  color: #fff;
  font-size: 2.5rem;
  padding:.5rem 0;
}

.menu .box-container .box:hover{
  background:#fff;
}

.menu .box-container .box:hover > *{
  color:#13131a;
}

/* CONTACTO */

.contact .row{
  display: flex;
  background:#13131a;
  flex-wrap: wrap;
  gap:1rem;
}

.contact .row .map{
  flex:1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form{
  flex:1 1 45rem;
  padding:5rem 2rem;
  text-align: center;
}

.contact .row form h3{
  text-transform: uppercase;
  font-size: 3.5rem;
  color:#fff;
}

.contact .row form .inputBox{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background:#010103;
  border:.1rem solid rgba(255,255,255,.3);
}

.contact .row form .inputBox span{
  color:#fff;
  font-size: 2rem;
  padding-left: 2rem;
}

.contact .row form .inputBox input{
  width: 100%;
  padding:2rem;
  font-size: 1.7rem;
  color:#fff;
  text-transform: none;
  background:none;
}

.footer{
  background:var(--black);
  text-align: center;
}

.footer .redes{
  padding:1rem 0;
}

.footer .redes a{
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color:#fff;
  border:.1rem solid rgba(255,255,255,.3);
  margin:.3rem;
  border-radius: 50%;
}

.footer .redes a:hover{
  background-color:#d3ad7f;
}

.footer .links{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding:2rem 0;
  gap:1rem;
}

.footer .links a{
  padding:.7rem 2rem;
  color:#fff;
  border:.1rem solid rgba(255,255,255,.3);
  font-size: 2rem;
}

.footer .links a:hover{
  background:#d3ad7f;
}